<h2>ggthemr</h2>

<p>ggthemr provides theming functionality for <a href="http://ggplot2.org/">ggplot2</a> &mdash; colour palettes, layouts (axes lines, tick marks etc.) and modifiers (handy functions for adding, removing and moving legends, labels, gridlines and all other elements of a chart).</p>

<p>The main principle behind ggthemr is that you should be able to run one line of code and all your plots will be magically themed from then on.</p>
