<h2>Palettes</h2>

<p>The palette determines the colours of everything in a plot including the background, layers, gridlines, title text, axes lines, axes text and axes titles. The &ldquo;swatch&rdquo; is the the name given to the set of colours strictly used in styling the geoms/layer elements (e.g. the points in <span class="code inline">geom_point()</span>, bars in <span class="code inline">geom_bar()</span> etc.). At least six colours have been supplied in each palette's swatch.</p>

<p>There are a wide variety of themes in this package (and more on the way). Some of them serious business&#8230; others are delibrately stylish and might not be that good for use in proper publications.</p>

</p>

<ul>
	<li>base 16</li>
	<li>bespin</li>
	<li>chalk</li>
	<li>eighties</li>
	<li>flat</li>
</ul>